<!-- <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Dashboard</h1>
        <div class="d-flex">
          <button type="button"  class="btn btn-succes" routerLink="/dahsboard"> Karyawan </button>
          <button type="button"  class="btn btn-succes" routerLink="/perusahaan"> Perusahaan </button>
          <button type="button"  class="btn btn-succes" routerLink="/mobil"> Mobil </button>
          <button type="button"  class="btn btn-succes" routerLink="/dashboard-chart"> Dashboard </button>
            <button type="button"  class="btn btn-succes" routerLink="/login"> Logout </button>

        </div>
    </div>
</nav> -->

<app-navbar></app-navbar>

<div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Karyawan Berdasarkan Kelamin</h5>
              <canvas id="canvas1"></canvas>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Jumlah Mobil Yang Dimiliki Setiap Karyawan</h5>
              <canvas id="canvas2"></canvas>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Total Aset Setiap Karyawan</h5>
              <canvas id="canvas3"></canvas>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Jumlah Karyawan Setiap Perusahaan</h5>
              <canvas id="canvas4"></canvas>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Merk Mobil Populer </h5>
              <canvas id="canvas5"></canvas>
            </div>
          </div>
      </div>
    </div>
  </div>