

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <h1 style="color: aliceblue;"></h1>
        <div class="d-flex">
          <button type="button"  class="btn btn-outline-primary m-1" routerLink="/dahsboard"> Karyawan </button>
          <button type="button"  class="btn btn-outline-primary m-1" routerLink="/perusahaan"> Perusahaan </button>
          <button type="button"  class="btn btn-outline-primary m-1" routerLink="/mobil"> Mobil </button>
          <button type="button"  class="btn btn-outline-primary m-1" routerLink="/dashboard-chart"> Dashboard </button>
            <button type="button"  class="btn btn-danger ms-4" routerLink="/login"> Logout </button>
          

        </div>
    </div>
</nav>