.gradient-custom {
    /* fallback for old browsers */
    background: #A85CF9;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(159, 101, 221), rgb(154, 170, 196));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(159, 101, 221), rgba(154, 170, 196))
    }